body{
    background: rgb(28, 27, 51) !important;
    background: linear-gradient( 
90deg
, rgba(28, 27, 51, 1) 0%, rgb(170, 155, 155) 69%, rgb(28, 27, 51) 100% ) !important;
}
.container-xl{
    left: 50%;
    right: 50%;
}
.col{
    margin-bottom: 40px;
}
.fotos {
    width: 300px;
    height:300px;
    object-fit: cover;
    margin-top: 10px;
}
.gallery-card1{
    justify-content: center;
}
@media screen and (max-width: 900px){
    .row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .gallery-card1{
        text-align: center;
    }
    .fotos {
        margin-top: 10px;
    width: 300px;
    height: 300px;
    }
    .card-body{
        width: 400px;
        height: 400px;
    }
}

